body {
    font-family: 'Poppins', sans-serif;
}
.col {
    height: 100vh;
}
.logo {
    font-family: 'Alex Brush', cursive;
    font-size: 2rem;
}
.nav-container .nav-item {
    color: black;
    font-weight: 600;
}
.nav-container .logo {
    font-weight: 700;
}
ul {
    list-style-type: none;
}
li a:hover {
    opacity: 0.7;
}
.main-container {
    margin-top: 8em;
    justify-content: space-between;
    height: 540px;
}
.main-container h1 {
    font-weight: 700;
    font-size: 4rem;
    width: 340px;
    line-height: 1;
}
.main-container p {
    color: #414d61;
    line-height: 2;
}
.main-container .btn {
    border: 3px solid black;
    padding: 0.5em 1em;
    border-radius: 0;
}
.main-container .btn {
    padding: 0.5em 1em;
    padding-right: 3.2em;
    border-radius: 0;
    background-image: url(line.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: right;
}

.image img{
    height: 100vh;
    width: -webkit-fill-available;
}
.icon {
    color: black;
}
.social-icons {
    margin-top: auto;
}
.social-icons a:hover{
    opacity: 0.7;
}
